# `{{.Name}}`

> {{.Summary}}

| | |
|---|---|
| **Kind** | Keyword |
| **Since** | `{{.Since}}` |
{{- if .Repeatable}}
| **Repeatable** | yes |
{{- end}}

## Syntax

```
{{.Syntax}}
```
{{if .Args}}
## Arguments

| Name | Type | Required |
|------|------|----------|
{{range .Args}}| `{{.Name}}` | `{{.Type}}` | {{if .Required}}yes{{else}}no{{end}} |
{{end}}{{end}}
{{- if .Description}}
## Description

{{.Description}}
{{end}}
{{- if .Children}}
## Children

{{range .Children}}- [`{{.}}`]({{entityPath . "keywords"}})
{{end}}{{end}}
{{- if .Examples}}
## Examples
{{range .Examples}}
### {{.Title}}

```kilnx
{{.Code}}
```
{{end}}{{end}}
{{- if .SeeAlso}}
## See also

{{range .SeeAlso}}- [`{{.}}`]({{seeAlsoPath . "keywords"}})
{{end}}{{end}}
{{- if or .SpecSHA .SourceSHA}}
## Provenance
{{if .Stale}}
> ⚠ **Implementation touched after spec.** Source code changed on `{{.SourceDate}}`, but this entity's spec was last edited on `{{.SpecDate}}`. The description may be out of date.
{{end}}
| | |
|---|---|
{{- if .SpecSHA}}
| **Spec last touched** | `{{.SpecSHA}}` ({{.SpecDate}}) |
{{- end}}
{{- if .SourceSHA}}
| **Source last touched** | `{{.SourceSHA}}` ({{.SourceDate}}) |
{{- end}}
{{- if .SourceFiles}}
| **Source files** | {{range $i, $f := .SourceFiles}}{{if $i}}, {{end}}`{{$f}}`{{end}} |
{{- end}}
{{end}}
